packages:
  all:
    # This defaults us to machine specific flags of ivybridge which allows
    # us to run on broadwell as well
    target: [ivybridge]
    compiler: [gcc, clang]
    providers:
      blas: [openblas]
      lapack: [netlib-lapack]
      mpi: [mvapich2]
      pkgconfig: [pkg-config]
      pil: [py-pillow]
      jpeg: [libjpeg]
      zlib-api: [zlib]
  cmake:
    version: [3.23.1]
    buildable: false
    externals:
    - spec: cmake@3.23.1
      prefix: /usr/tce/packages/cmake/cmake-3.23.1
  gmake:
    version: [4.2.1]
    buildable: false
    externals:
    - spec: gmake@4.2.1
      prefix: /usr
  git:
    version: [2.29.1]
    buildable: false
    externals:
    - spec: git@2.29.1+tcltk
      prefix: /usr/tce
  perl:
    version: [5.26.3]
    buildable: false
    externals:
    - spec: perl@5.26.3
      prefix: /usr

  mvapich2:
    externals:
    - spec: mvapich2@2.3.6%gcc@10.3.1~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3.6-gcc-10.3.1
    - spec: mvapich2@2.3.6%clang@14.0.6~alloca~cuda~debug+regcache+wrapperrpath ch3_rank_bits=32
        fabrics=mrail file_systems=auto process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3.6-clang-14.0.6
    buildable: false

# ------ SYSTEM LIBS -------
  ncurses:
    externals:
    - spec: ncurses@5.9
      prefix: /usr
    buildable: false
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
    buildable: false
  automake:
    externals:
    - spec: automake@1.13.4
      prefix: /usr
    buildable: false
  libtool:
    externals:
    - spec: libtool@2.4.2
      prefix: /usr
    buildable: false
  bzip2:
    externals:
    - spec: bzip2@1.0.6
      prefix: /usr
    buildable: false
  expat:
    externals:
    - spec: expat@2.4.1
      prefix: /usr
    buildable: false
  gdbm:
    externals:
    - spec: gdbm@1.19
      prefix: /usr
    buildable: false
  gettext:
    externals:
    - spec: gettext@0.19
      prefix: /usr
    buildable: false
  libffi:
    externals:
    - spec: libffi@3.3
      prefix: /usr
    buildable: false
  openssl:
    externals:
    - spec: openssl@1.1.1
      prefix: /usr
    buildable: false
  ossp-uuid:
    externals:
    - spec: ossp-uuid@1.62
      prefix: /usr
    buildable: false
  sqlite:
    externals:
    - spec: sqlite@3.36.0
      prefix: /usr
    buildable: false
  pkg-config:
    externals:
    - spec: pkg-config@0.27.1
      prefix: /usr
    buildable: false
  m4:
    externals:
    - spec: m4@1.4.18
      prefix: /usr
    buildable: false
  tar:
    externals:
    - spec: tar@1.26
      prefix: /usr
    buildable: false
  elfutils:
    externals:
    - spec: elfutils@0.176
      prefix: /usr
    buildable: false
  tcl:
     externals:
     - spec: tcl@8.6.8
       prefix: /usr
     buildable: false
  tk:
     externals:
     - spec: tk@8.6.8
       prefix: /usr
     buildable: false
  fontconfig:
    externals:
    - spec: fontconfig@2.13.1
      prefix: /usr
    buildable: false


#---- Extension Dependencies

  hwloc:
    externals:
    - spec: hwloc@5.7.5
      prefix: /usr
    buildable: false
  netlib-lapack:
    buildable: false
    externals:
    - spec: netlib-lapack@3.9.0
      prefix: /usr
  openblas:
    buildable: false
    externals:
    - prefix: /usr
      spec: openblas@0.3.15
