packages:
  all:
    # This defaults us to machine specific flags of ivybridge which allows
    # us to run on broadwell as well
    target: [ivybridge]
    compiler: [oneapi, gcc, clang]
  cmake:
    version: [3.20.2]
    buildable: false
    externals:
    - spec: cmake@3.20.2
      prefix: /usr/tce/packages/cmake/cmake-3.20.2

  openmpi:
    externals:
    - spec: openmpi@4.0.0%clang@9.0.0
      prefix: /usr/tce/packages/openmpi/openmpi-4.0.0-clang-9.0.0
    buildable: false

  mvapich2:
    externals:
    - spec: mvapich2@2.3.1%clang@10.0.0~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-clang-10.0.0
    - spec: mvapich2@2.3.1%clang@9.0.0~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-clang-9.0.0
    - spec: mvapich2@2.3.1%pgi@19.7~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-pgi-19.7
    - spec: mvapich2@2.3.1%pgi@20.1~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-pgi-20.1
    - spec: mvapich2@2.3.1%intel@19.1.0.166~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-intel-19.1.0
    - spec: mvapich2@2.3.1%intel@18.0.2~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-intel-18.0.2
    - spec: mvapich2@2.3.1%intel@17.0.2~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-intel-17.0.2
    - spec: mvapich2@2.3.1%gcc@8.1.0~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-gcc-8.1.0
    - spec: mvapich2@2.3.1%gcc@8.3.1~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-gcc-8.3.1
    - spec: mvapich2@2.3.1%gcc@4.9.3~cuda~debug~regcache~wrapperrpath ch3_rank_bits=32
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3-gcc-4.9.3
    - spec: mvapich2@2.3 %oneapi@2022.1 arch=linux-rhel7-x86_64
        file_systems=lustre,nfs,ufs process_managers=slurm
      prefix: /usr/tce/packages/mvapich2/mvapich2-2.3.6-intel-oneapi.2022.1
    buildable: false

# ------ SYSTEM LIBS -------
  ncurses:
    externals:
    - spec: ncurses@5.9
      prefix: /usr
    buildable: false
  readline:
    externals:
    - spec: readline@7.0
      prefix: /collab/usr/gapps/python/build/spack-toss3.3/opt/spack/linux-rhel7-x86_64/gcc-4.9.3/readline-7.0-e5jqqjmcjknidgwvi353pd6umpixzxr2
    buildable: false
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
    buildable: false
  automake:
    externals:
    - spec: automake@1.13.4
      prefix: /usr
    buildable: false
  libtool:
    externals:
    - spec: libtool@2.4.2
      prefix: /usr
    buildable: false
  bzip2:
    externals:
    - spec: bzip2@1.0.6
      prefix: /usr
    buildable: false
  expat:
    externals:
    - spec: expat@2.4.1
      prefix: /usr
    buildable: false
  gdbm:
    externals:
    - spec: gdbm@1.19
      prefix: /usr
    buildable: false
  gettext:
    externals:
    - spec: gettext@0.19
      prefix: /usr
    buildable: false
  libffi:
    externals:
    - spec: libffi@3.3
      prefix: /usr
    buildable: false
  openssl:
    externals:
    - spec: openssl@1.1.1
      prefix: /usr
    buildable: false
  ossp-uuid:
    externals:
    - spec: ossp-uuid@1.62
      prefix: /usr
    buildable: false
  sqlite:
    externals:
    - spec: sqlite@3.36.0
      prefix: /usr
    buildable: false
  pkg-config:
    externals:
    - spec: pkg-config@0.27.1
      prefix: /usr
    buildable: false
  tar:
    externals:
    - spec: tar@1.26
      prefix: /usr
    buildable: false

#---- Extension Dependencies

  hwloc:
    externals:
    - spec: hwloc@5.7.5
      prefix: /usr
    buildable: false
  netlib-lapack:
    buildable: false
    externals:
    - spec: netlib-lapack@3.9.0
      prefix: /usr/gapps/bdiv/toss_3_x86_64_ib/clang-10-mvapich2-2.3/lapack/3.9.0
