syntax: glob
*~
*.d
*.o
*.pyc
*.imp
*.so
*.dylib
*.date
*.dummydate
*.C
*.log
*.silo
*_stamp.cmake
*.job
*.job.out
job.out*
*.swp
*.orig
runit
spam
*.a
job.err
runit
dumps*
src/BUILD
src/build
src/BUILD/**
src/build/**
dumps-*
*cache*
python
lc_*
build_*
!build_guide*
*.core
spackbuild*
.spack-env
spack.lock
*.logs
rz*
toss_*.cmake
blueos_*.cmake

/build-*
