[submodule "src/thirdPartyLibs/blt"]
	path = src/thirdPartyLibs/blt
	url = https://github.com/LLNL/blt.git
[submodule "src/thirdPartyLibs/qhull"]
	path = src/thirdPartyLibs/qhull
	url = https://github.com/qhull/qhull
[submodule "src/thirdPartyLibs/eigen"]
	path = src/thirdPartyLibs/eigen
	url = https://github.com/libigl/eigen
