packages:
  mpich:
    externals:
    - spec: mpich@3.3.2
      prefix: /usr
    buildable: false
  all:
    providers:
      mpi: [mpich]
      blas: [netlib-lapack]
      lapack: [netlib-lapack]
# ------ SYSTEM LIBS -------
# FIXME: Currently allowing spack to build cmake and git
  ncurses:
    externals:
    - spec: ncurses@6.2
      prefix: /usr
    buildable: false
  perl:
    buildable: false
    externals:
    - spec: perl@5.30.0
      prefix: /usr
  readline:
    externals:
    - spec: readline@8.0
      prefix: /usr
    buildable: false
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
    buildable: false
  automake:
    externals:
    - spec: automake@1.16.1
      prefix: /usr
    buildable: false
  libtool:
    externals:
    - spec: libtool@2.4.6
      prefix: /usr
    buildable: false
  bzip2:
    externals:
    - spec: bzip2@1.0.8
      prefix: /usr
    buildable: false
  expat:
    externals:
    - spec: expat@2.2.9
      prefix: /usr
    buildable: false
  gdbm:
    externals:
    - spec: gdbm@1.18.1
      prefix: /usr
    buildable: false
  gettext:
    externals:
    - spec: gettext@0.19.8.1
      prefix: /usr
    buildable: false
  libffi:
    externals:
    - spec: libffi@3.3
      prefix: /usr
    buildable: false
  openssl:
    externals:
    - spec: openssl@1.1.1
      prefix: /usr
    buildable: false
  ossp-uuid:
    externals:
    - spec: ossp-uuid@1.6.2
      prefix: /usr
    buildable: false
  sqlite:
    externals:
    - spec: sqlite@2.8.17
      prefix: /usr
    buildable: false
  pkg-config:
    externals:
    - spec: pkg-config@0.29.1
      prefix: /usr
    buildable: false
  tar:
    externals:
    - spec: tar@1.30
      prefix: /usr
    buildable: false
  elfutils:
    externals:
    - spec: elfutils@0.176
      prefix: /usr
    buildable: false
  tcl:
     externals:
     - spec: tcl@8.6.9
       prefix: /usr
     buildable: false
  tk:
     externals:
     - spec: tk@8.6.9
       prefix: /usr
     buildable: false
  fontconfig:
    externals:
    - spec: fontconfig@2.13.1
      prefix: /usr
    buildable: false
