numpy == 1.26.4
numpy-stl == 3.2.0
matplotlib == 3.9.4
h5py == 3.13.0
scipy == 1.13.1
mpi4py == 4.0.2
cffi == 1.17.1
pyyaml == 6.0.2
llnl-thicket == 2024.2.1
ipython == 8.18.1
ats @ file://@SPHERAL_ROOT_DIR@/extern/ATS

